<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/js/functions.js"></script>
        <title>Log in</title>
    </head>
    <body class="login">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <div class="login__box">
            <p class="login__header">Hello! 👋</p>
            <form class="form" method="POST">
                <input type="email" id="email" name="email" placeholder=" 📧 Email" required><i class="bi bi-envelope-fill" style="opacity: 0"></i><br><br><br><br>
                <input type="password" id="password" name="password" placeholder=" 🔑 Password" required><i class="bi bi-eye-slash" id="togglePassword"></i><br><br><br><br>
                <p class="forgot__pwd">Forgot password?</p> <!-- to do -->
                <input type="submit" value="Log in">
            </form>
            <p class="login__signup">Don't have an account? <a href="/signup">Sign up</a></p>
        </div>

        <script>
            var togglePassword = document.querySelector("#togglePassword");
            var password = document.querySelector("#password");
    
            togglePassword.addEventListener("click", function () {
                // toggle the type attribute
                var type = password.getAttribute("type") === "password" ? "text" : "password";
                password.setAttribute("type", type);
                
                // toggle the icon
                this.classList.toggle("bi-eye");
            });
        </script>
        
        <div class="footer">
            <div class="footer-content__top" onclick="showAbout()">About
                <span class="popuptext" id="about">This is a test project. Developed & designed for fun and test purposes.</span>
            </div>
            <div class="footer-content__bottom" id="worldClock"></div>
        </div>
        <script>
            // get current time
            const displayTime = document.querySelector("#worldClock");
            function showTime() {
                let time = new Date();
                displayTime.innerText = time.toLocaleTimeString("en-US", { hour12: false });
                setTimeout(showTime, 1000);
            }
            showTime();
        </script>
    </body>
</html>